python-dotenv
flask
zeroconf
pyopenssl
numpy
requests

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp-proto-http

sentry-sdk[flask]
sentry-sdk[opentelemetry]


adafruit-circuitpython-dht
# Recommended for Docker
# See 3.b from https://pypi.org/project/opencv-python/
opencv-python-headless

pywasm3
wasmtime

# Uncomment the following when using Raspberry Pi (required by adafruit)
# RPi.GPIO